# Server Configuration
PORT=3000
NODE_ENV=production

# Database Configuration (MongoDB Atlas)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.zcv7mlm.mongodb.net/file_management_db?retryWrites=true&w=majority

# JWT Configuration
JWT_SECRET=your_super_secret_access_key
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your_super_secret_refresh_key
JWT_REFRESH_EXPIRES_IN=7d

# Client Configuration
CLIENT_URL=https://smartdocs.id.vn

# Email SMTP Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=your_email@gmail.com
EMAIL_APP_PASSWORD=your_app_password
EMAIL_VERIFY_EXPIRES_MINUTES=15
PASSWORD_RESET_EXPIRES_MINUTES=15

# AI Configuration (Google Gemini)
AI_PROVIDER=gemini
AI_API_KEY=your_gemini_api_key
AI_MODEL=gemini-3.6-flash

# AWS S3 Storage Configuration
# Đặt STORAGE_DRIVER=s3 khi sử dụng dịch vụ lưu trữ AWS S3 trên Cloud
STORAGE_DRIVER=s3
AWS_REGION=ap-southeast-2
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_S3_BUCKET=smartdocs-files
